.team-conteiner{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.team-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.team-title h2{
    font-size: 70px;
    margin-bottom:0 ;
}
.team-title p{
    width: 50%;
    text-align: center;
    font-size: 25px;
}
.card {
    margin-bottom: 50px;
}

.social-media img:hover{
    cursor: pointer;

}
@media (max-width: 900px){
    .team-conteiner{
        max-width: 100vw;
    }
    .team-title h2{
        font-size: 40px;
    }
}