html body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #fcc302;
    font-family: sans-serif;
    overflow-x: hidden;
    overflow: hidden;
 
}
html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}
.App{
    width: 100%;
}

@media (max-width: 900px){
    .App{
        width: 100%;
    }
}
@media (max-width: 500px){
    .App{
        width: 100vw;
    }
    body{
        overflow-x: hidden;
     }
}